@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Maven+Pro:wght@400;500&family=Roboto:wght@100;400&display=swap');

* {
    margin: 2px;
}

body {
    font-family: 'Roboto';
    background-color: rgb(228, 221, 221);
}

h1, h2, h3, h5 {
    font-size: 1.5rem;
    font-weight: 600;
}

img {
    width: 40px;
}

li {
    padding: 2px;
    list-style: di
    sc;
}

a {
    text-decoration: none;
    color: rgb(44, 182, 44);
}
.imagen{
    background-image: url('./img/gith.png');
    position: absolute;
    height: 100vh;
    background-size: contain ;
    
}